body{
  margin: 0px ;
  padding: 0px;
  background-image: linear-gradient(gray, white );
  width: 380px;
  height: 100% ;
}
div{
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px ;
  border:double black 4px;
    border-radius: 20px 
}
p{
  border: double black 4px;
  padding: 10px 10px 10px 10px;
    border-radius: 20px 
}
u{
  border: double black 4px ;
  padding: 10px 10px 10px 10px;
    border-radius: 20px 
}
#fg{
  width: 300px ;
  border: double black 4px ;
  border-radius: 20px 
}
details {
  padding: 20px 20px 20px 20px ;
  border: double black 4px;
    border-radius: 20px 
  
}
#last   {
  margin: 0px 0px 20px 0px;
}
#free {
  margin: 20px 0px 20px 0px;
}
img{
  margin: 20px 0px 0px 0px;
  border: double black 4px ;
  width: 90% ;
    border-radius: 20px 
}
#asd{
 margin-left: 75px ;
 
  }
